@font-face {
  font-family: "Louize";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/subset-Louize.woff2") format("woff2");
}

@font-face {
  font-family: "Louize";
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/subset-Louize-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Louize Display";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/subset-LouizeDisplay.woff2") format("woff2");
}

@font-face {
  font-family: "Louize Display";
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/subset-LouizeDisplay-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Neue Montreal";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/PPNeueMontreal-Regular.woff2");
}

@font-face {
  font-family: "Neue Montreal";
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/PPNeueMontreal-Italic.woff2");
}

@font-face {
  font-family: "Neue Montreal";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/PPNeueMontreal-Bold.woff2");
}

@font-face {
  font-family: "Neue Montreal";
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/PPNeueMontreal-BoldItalic.woff2");
}

@font-face {
  font-family: "Manuka";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/manuka-black.woff2") format("woff2");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Louize";
  margin: 0;
  counter-reset: h2s;
  color: var(--color-neutral);
  background-color: var(--color-background);

  --color-background: hsl(38deg 11% 9%);
  --color-border: hsl(0, 0%, 60%);
  --color-outline: hsl(0, 0%, 88%);
  --color-neutral--deemphasized: hsl(0deg 0% 60%);
  --color-neutral--mid: hsl(0deg 0% 75%);
  --color-neutral: hsl(0deg 0% 98%);
}

::selection {
  color: var(--color-background);
  background-color: var(--color-neutral);
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

a:focus {
  border-radius: 2px;
  outline: 1px dashed var(--color-border);
  outline-offset: 2px;
}

header {
  font-family: "Neue Montreal";
  padding-block: 1rem;
  text-transform: uppercase;
  color: var(--color-neutral--deemphasized);
  border-bottom: 1px solid currentColor;
}

header a {
  text-decoration: none;
  color: var(--color-neutral);
}

header a:hover {
  text-decoration: underline;
}

h1,
h2 {
  /* font-family: "Louize Display"; */
  /* font-weight: 100; */
  /* text-transform: uppercase; */
}

h1 {
  font-family: "Manuka";
  font-size: 10rem;
  font-weight: normal;
  line-height: 0.8;
  margin-top: 3rem;
  text-transform: uppercase;
}
h1 small {
  font-family: "Louize Display";
  font-size: 0.45em;
  font-style: italic;
  display: block;
  text-transform: none;
  color: var(--color-neutral--deemphasized);
}

h2 {
  font-family: "Neue Montreal";
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 0.8;
  margin-bottom: 1rem;
  counter-increment: h2s;
  text-transform: uppercase;
  color: var(--color-neutral);
}

h2:before {
  content: counter(h2s, upper-roman) ".";
}

h3 {
  font-family: "Neue Montreal";
  font-size: 1rem;
  text-transform: uppercase;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 42ch;
  margin-block-end: 1lh;
  color: var(--color-neutral--mid);
}

em {
  font-family: "Neue Montreal";
  font-weight: bold;
  font-style: normal;
  color: #fafafa;
}

ul {
  padding: 1.5rem;
}

li {
  padding-left: 0.75rem;
}

li::marker {
  content: "â§";
}

.container {
  width: 100%;
  max-width: 69rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section {
  display: grid;
  gap: 1rem;
  grid-template-columns: max-content 1fr;
  align-items: last baseline;
  margin-bottom: 5rem;
}

.section > div {
  grid-column-end: span 2;
}

.meta {
  font-family: "Neue Montreal";
  text-transform: uppercase;
  color: var(--color-neutral--deemphasized);
}

.intro {
  position: relative;
  padding-block: 4rem;
  text-align: center;
}

img {
    position: absolute;
    z-index: -1;
    inset-inline: 0;
    top: 50%;
    display: block;
    max-width: 100%;
    max-height: calc(100% - 4rem);
    margin-inline: auto;
    transform: translateY(-50%);
}

.subtitle {
  font-family: "Neue Montreal";
  font-size: 0.75rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(1.5rem, 1fr) auto;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-neutral--deemphasized);
}

.subtitle:before {
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  background-color: var(--color-border);
}

.expertise {
  margin-bottom: 5rem;
}

.tags-list {
  font-size: 0.75rem;
  display: flex;
  gap: 0.75rem;
  flex-wrap: row;
  padding: 0;
  text-transform: uppercase;
  color: var(--color-neutral--deemphasized);
}

.tags-list li {
  font-family: "Neue Montreal";
  padding: 0.375rem 0.7rem;
  list-style: none;
  border: 1px solid currentColor;
  border-radius: 2rem;
}

.tags-list li::marker {
  content: unset;
}

.from-you {
  font-style: italic;
  text-align: center;
}
.from-me {
  font-family: Neue Montreal;
  color: #fafafa;
}
.centered {
  text-align: center;
}

footer {
  font-family: "Neue Montreal";
  display: grid;
  place-items: center;
  padding: 1.5rem;
  text-transform: uppercase;
  color: var(--color-neutral--deemphasized);
}

footer p {
  font-size: 0.75rem;
  max-width: unset;
}

footer a,
footer span {
  color: var(--color-neutral);
}

@media screen and (min-width: 56.25rem) {
  h1 {
    font-size: 15rem;
    margin-bottom: 6rem;
  }

  h2 {
    font-size: 4.5rem;
  }
  
  header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }

  li {
    padding-left: 1.75rem;
  }

  .subtitle {
    font-size: 0.625rem;
    gap: 2px;
    grid-template-columns: auto;
    transform: translateY(-1em);
    text-align: center;
  }

  .subtitle:before {
    grid-row: 2;
  }

  .intro {
    display: grid;
    gap: 3rem;
    place-content: center;
    height: calc(100vh - 10rem);
  }

  .section {
    grid-template-columns: min-content 1fr 27rem;
    align-items: baseline;
    margin-bottom: 10rem;
  }

  .section:has(.content > ul) {
    grid-template-columns: min-content 1fr 30rem;
  }

  .section > div {
    grid-column: 3;
  }
  
  .cta {
    display: grid;
    gap: 2rem;
    justify-content: center;
    margin-block: 12.5rem;
    text-align: center;
    color: var(--color-neutral--deemphasized);
  }

  .cta > * {
    max-width: unset;
    margin: 0 auto;
  }

  .cta a {
    color: var(--color-neutral);
  }
}

@media screen and (min-width: 61rem) {
  .section {
    grid-template-columns: max-content 1fr 27rem;
  }
}
