{% set emailLink = "mailto:yo@henry.codes?subject=You%20Mad%20Dog%2C%20You!%20Your%20Website%20Delighted%20Me%20And%20I%20Should%20Like%20To%20Work%20With%20You" %}
{% set title = "Hire Me | The Resume & CV of Henry Desroches" %}
{% set description = "Here’s the elevator pitch on why I’d love to work with you and why the heck you might want to work with me. Hope you think it’s nice :)" %}
{% set ogUrl = "https://hireme.website/meta/opengraph.jpg" %}
{% set siteUrl = "hireme.website" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png" />

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />

    <meta property="og:url" content="https://{{ siteUrl }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ ogUrl }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="{{ siteUrl }}" />
    <meta property="twitter:url" content="https://{{ siteUrl }}" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ ogUrl }}" />
  </head>

  <body>
    <div class="container container--wide">
      <header>
        <div>The resume & CV</div>
        <div>of Denver-based creative technologist</div>
        <div><a href="https://henry.codes">Henry Desroches</a></div>
      </header>
    </div>
    <main>
      <div class="container">
        <section class="intro">
          <div class="meta">Now that's what I call</div>
          <div class="meta">a resume</div>
          <h1>Hire me</h1>
          <div class="meta">(Please lol)</div>
          <div class="meta">
            (<kbd class="key" id="shift">Shift</kbd>+<kbd class="key" id="d">D</kbd> or <button>click here</button> for
            <span id="next-theme">dark</span> mode if you’re <span id="next-vibe">spooky</span> like that)
          </div>
        </section>
        <section class="section">
          <h2>Intro</h2>
          <span class="subtitle">Who R U again?</span>
          <div class="content">
            <p>
              Hi. I’m Henry Desroches. I’m a creative technologist, web designer & developer, or front-of-the-front-end engineer,
              with a deep love of animation, interaction, CSS, and accessible web.
              <strong>I’m looking for my next full-time remote role.</strong>
            </p>
          </div>
        </section>
        <section class="section">
          <h2>Tl;dr</h2>
          <span class="subtitle">Ok what’s the vibe?</span>
          <div class="content">
            <ul>
              <li>
                <p>
                  <strong>I love websites and I love the web.</strong> I love the scrappy spirit and the iteration and
                  sharing and community — I’m very passionate about developing for the ‘Net, and I’ve worked pretty hard
                  to be pretty decent at it.
                </p>
              </li>
              <li>
                <p>
                  <strong>I’m a bulletproof resource for HTML and CSS.</strong> All of my work is accessible and
                  progressively-enhanced, and I’m always learning how to meet both of those standards more thoroughly
                  and efficiently.
                </p>
              </li>
              <li>
                <p>
                  <strong>I check the ego and focus on good communication and collaboration</strong> with other
                  engineers, with clients, with designers. We’re all here to get some good work done.
                </p>
              </li>
              <li>
                <p><strong>I believe in working hard</strong>, intentionally, and with principle.</p>
              </li>
            </ul>
          </div>
        </section>
        <section class="section">
          <h2>Skills</h2>
          <span class="subtitle">Do a kickflip</span>
          <div class="content">
            <section class="expertise">
              <ul class="tags-list">
                <li>HTML</li>
                <li>CSS</li>
              </ul>
              <p>
                My understanding of and fluency with HTML and CSS is extremely strong, and that means that I can
                scaffold up semantic, useful, and stylish projects in a very short amount of time.
              </p>
            </section>
            <section class="expertise">
              <ul class="tags-list">
                <li>Javascript</li>
                <li>React</li>
                <li>Vue</li>
              </ul>
              <p>
                I’ve been around long enough to see all the evolutions of all the major JS framework players, and I’ve
                never been afraid of busting things out of the box to put together a demo or 2 or 20. That doesn’t mean
                I need a framework to make cool projects, however — in fact most of my work uses a light,
                progressively-enhanced vanilla JavaScript layer to handle any required interactivity.
              </p>
            </section>
            <section class="expertise">
              <ul class="tags-list">
                <li>Design</li>
                <li>Media</li>
              </ul>
              <p>
                In the last four years I’ve been working as both designer and developer on many projects. I really love
                creating an expressive web — I know when to keep things systemized and formal, when to be surprising and
                subvertive. Furthermore, my background in engineering and deep understanding of the technical
                underpinnings of the web platform makes me much more effective in designing for its possibility and its
                constraint in a scalable and responsible way.
              </p>
              <p>
                I also have experience in previous roles with computer graphics tools, Cinema 4D, video editing, and
                even photography. These aren’t my strongest skills but I feel confident with the fundamentals, and it’s
                fun to find out all the ways the different systems and frameworks can interconnect.
              </p>
            </section>
            <section class="expertise">
              <ul class="tags-list">
                <li>Prototyping</li>
                <li>Experimental Tech</li>
              </ul>
              <p>
                I love experimenting and building proofs-of-concept, littering the living room floor with a new project.
                It’s how I’ve gotten at least a basic understanding of shaders & WebGL, generative art algorithms,
                LaTeX, Python, microcontrollers, you name it. I’m not afraid of new tech and I love learning new things.
              </p>
            </section>
          </div>
        </section>
        <section class="section">
          <h2>Ethic</h2>
          <span class="subtitle">(Is not virtue sufficient for happiness?)</span>
          <div class="content">
            <p>
              Simply put, <strong>I love getting paid to do really good work</strong>. I don’t take anything personally,
              and while I do take pride in my craft, I don’t invest that pride in stubborn defense. There is great honor
              in staying humble, being a good listener, and being a good communicator.
            </p>
            <p>
              I adore collaborating with clients and ICs; few things in work make me feel as prideful and satisfied as
              working with smart people to create something really fantastic.
            </p>
          </div>
        </section>
        <aside class="cta meta centered">
          <p>(wow this seems like it’d be an incredible fit, i’m ready to start a conversation)</p>
          <p>
            Hell yeah,
            <a href="{{ emailLink }}">Let’s chat.</a>
          </p>
          <p>(no no, i want to see where this goes. keep talking, strange internet man.)</p>
        </aside>
        <section class="section">
          <h2>Team</h2>
          <span class="subtitle">but enough about me lol</span>
          <div class="content">
            <ul>
              <li>
                <p>
                  You’re a micro- to medium-sized team in an any-size agency or product shop. Your team has a shared
                  interest in creating for the web in an ethical and very special way.
                </p>
              </li>
              <li>
                <p>
                  You know that process is a tool to facilitate successful work — it’s not a one-size-fits-all,
                  but-we’ve-always-done-it-this-way box to cram work into. You don’t believe in wasting time on
                  bureaucracy. You know work is done at surprising hours and locations, but primarily between 9-5 during
                  the week.
                </p>
              </li>
              <li>
                <p>
                  You’re interested in Doing The Work, Doing The Work Right, and building a diverse team where queer
                  members can be themselves.
                </p>
              </li>
              <li>
                <p>Your interview process takes fewer than 8 hours all-told, or compensates applicants if not.</p>
              </li>
              <li>
                <p>You’re not doing crypto and you’re not working for Amazon, Apple, Alphabet, or Facebook.</p>
              </li>
            </ul>
          </div>
        </section>
        <section class="section">
          <h2>Role</h2>
          <span class="subtitle">something something a dream of labor</span>
          <div class="content">
            <ul>
              <li>
                <p>
                  You need a killer front-of-the-front-end resource who you can turn to for straight answers about all
                  things web, present and future. Somebody with an encyclopedic knowledge of CSS and HTML.
                </p>
              </li>
              <li>
                <p>
                  You need a liaison between your engineering and design teams, who understands the needs of both teams
                  and who thrives navigating that communication and collaboration.
                </p>
              </li>
              <li>
                <p>
                  You need somebody who can own every aspect of a web project, from information architecture and
                  wireframing in Figma, to polishing off the last edge-case mobile Safari bugs in production.
                </p>
              </li>
            </ul>
          </div>
        </section>
        <section class="section">
          <h2>About Us</h2>
          <span class="subtitle">Ok so what happens now?</span>
          <div class="content">
            <p>
              Okay well first of all, stoked and honored that you want to move forward! My general preference is:
              we have a chat, I demonstrate I can do the work y’all need me to do, and go from there, but I’m happy to
              journey through whatever application process you have in mind. Reach out by email (<a
                href="{{ emailLink }}"
                >yo@henry.codes</a
              >), and let’s have a conversation.
            </p>
            <h3>Further Reading</h3>
            <p>
              You can <a href="https://resume.henry.codes">check out my (more formal) resume</a>,
              <a href="https://henry.codes">my personal site and portfolio</a>,
              <a href="https://github.com/xdesro">my GitHub account for some sweet code samples,</a>
              <a href="https://passages.henry.codes">some of the weirder projects I’ve done</a>, or
              <a href="https://henry.codes/writing">read the blog</a>. Hope to hear from you soon :)
            </p>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <p>made with <span>:heart emoji:</span> or whatever.</p>
      <p>
        colophon: plain ol’ HTML and CSS and like the teensiest bit of JS, built with
        <a href="https://www.11ty.dev/">11ty</a>. fonts are
        <a href="https://www.myfonts.com/collections/silk-serif-font-silktype">silk serif</a> and
        <a href="https://commercialtype.com/catalog/neue_haas_grotesk">neue haas grotesk</a>.
      </p>
    </footer>
    <script>
      const button = document.querySelector('button');
      const keyShift = document.querySelector('#shift');
      const keyD = document.querySelector('#d');
      const nextTheme = document.querySelector('#next-theme');
      const nextVibe = document.querySelector('#next-vibe');

      const toggleTheme = () => {
        document.documentElement.classList.toggle('dark');
        if (document.documentElement.classList.contains('dark')) {
          nextTheme.textContent = 'light';
          nextVibe.textContent = 'hella normal';
        } else {
          nextTheme.textContent = 'dark';
          nextVibe.textContent = 'spooky';
        }
      };

      window.addEventListener('keypress', (e) => {
        if (e.key.toLowerCase() === 'd' && e.shiftKey === true) {
          toggleTheme();
        }
      });
      button.addEventListener('click', (e) => {
        toggleTheme();
      });

      console.log(
        `%c ▄▄▄       ▄████▄   ▄▄▄       ▄▄▄▄   
▒████▄    ▒██▀ ▀█  ▒████▄    ▓█████▄ 
▒██  ▀█▄  ▒▓█    ▄ ▒██  ▀█▄  ▒██▒ ▄██
░██▄▄▄▄██ ▒▓▓▄ ▄██▒░██▄▄▄▄██ ▒██░█▀  
 ▓█   ▓██▒▒ ▓███▀ ░ ▓█   ▓██▒░▓█  ▀█▓
 ▒▒   ▓▒█░░ ░▒ ▒  ░ ▒▒   ▓▒█░░▒▓███▀▒
  ▒   ▒▒ ░  ░  ▒     ▒   ▒▒ ░▒░▒   ░ 
  ░   ▒   ░          ░   ▒    ░    ░ 
      ░  ░░ ░            ░  ░ ░      
          ░                        ░ `,
        'color: lightslategray'
      );

      console.log(
        'Ah yes, hello my inquisitive friend. I view us as furtive compadres, allies in some yet-to-be-named quest. Thank you for joining me here in the console. I certainly do hope you’ll check out my personal site → https://henry.codes'
      );
    </script>
  </body>
</html>
